/* :root {
    --border: solid red;
} */

* {
    font-family: 'BhuTaka', 'sans';
}

header {
    background-color: #2980b9;
    padding: 20px;
    border-bottom: solid black;
    color: white;
}

.search-panel,
.search-box {
    text-align: center;
    margin: 10px 0 0 0;
    background-color: lightgray;
}

ul {
    list-style: none;
}
/* .form-outline {
    border: var(--border);
} */

.city-search:hover {
    cursor: pointer;
    opacity: 50%;
}

.city-list-container {
    border: var(--border);
}

.results-panel {
    margin: 10px 0 10px 0;
    border: var(--border);
    visibility: hidden;
}

.forcastFive {
    border: var(--border);
    padding: 10px 0 0 10px;
}
