* {
    font-family: 'BhuTaka';
}

header {
    background-color: #2980b9;
    padding: 20px;
    border-bottom: solid black;
    color: white;
}

.search-panel,
.search-box {
    text-align: center;
    margin: 10px 0 0 0;
    background-color: lightgray;
}

.city-search:hover {
    cursor: pointer;
    opacity: 50%;
}

.results-panel {
    margin: 10px 0 0 0;
}

